<html>
<head>
<title>Python Ipsum</title>
<link href="http://fonts.googleapis.com/css?family=Merriweather+Sans:700,800,400,300" rel="stylesheet" type="text/css">
<link href="/static/style.css" rel="stylesheet" type="text/css">
<link type="text/plain" rel="author" href="http://static/humans.txt" />
</head>
<body>
    <div id="page">
        <hgroup>
            <h1>Python Ipsum</h1>
            <h2>Your source for Python-flavored placeholder text</h2>
        </hgroup>

        <form method="GET">
            <fieldset>
                <legend>from python import gibberish</legend>
                <label for="num_paragraphs">Paragraphs:</label>
                <select name="num_paragraphs">
                    {% for option in paragraph_options %}
                    <option
                    {% if option == num_paragraphs %}
                    selected="true"
                    {% endif %}
                    >{{option}}</option>
                    {% endfor %}
                </select>
                <input type="submit" value="Import Gibberish">

            <aside>
                <p>We also have a <a href="{{ api_url }}?num_paragraphs=1">JSON API</a>!</p>
            </aside>

            </fieldset>

        </form>

        <article>
        {% for paragraph in paragraphs %}
        <p>{{paragraph}}</p>
        {% endfor %}
        </article>


        <footer>
            <p>Created by <a href="http://mike.pirnat.com">Mike Pirnat</a>
            and <a href="https://twitter.com/palendae">Nolan Brubaker</a>
            at <a href="http://us.pycon.org/2013">PyCon 2013</a></p>

            <p>To contribute to the dictionary, fork
            <a href="https://github.com/mpirnat/pythonipsum">the repository</a>
            and send a pull request. Patches welcome!</p>
        </footer>
    </div>

<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-39359065-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>

</body>
</html>
